@charset "UTF-8";
header {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), transparent);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 15px;
  position: fixed; /* position 주면 margin: 0 auto; 안 먹힘 */
  z-index: 9999;
}
header h1 {
  width: 150px;
}
header h1 a img {
  width: 100%;
}
header .right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .right .app {
  font-family: "Jua", sans-serif;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 15px 25px;
  color: #fff;
  margin-right: 15px;
}
header .right .all_nav span {
  display: block;
  background: #fff;
  width: 30px;
  height: 5px;
  border-radius: 15px;
}
header .right .all_nav span:nth-child(2) {
  margin: 5px 0;
}

main .visual {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
main .visual .contents {
  position: relative;
  left: 0;
  top: 0;
  z-index: 110;
  padding-top: 280px;
  text-align: center;
}
main .visual .contents h1 {
  font-family: "Jua", sans-serif;
  font-size: 3rem;
  color: #fff;
  line-height: 1.4;
}
main .visual .contents p {
  color: #fff;
  line-height: 1.8;
  margin-bottom: 50px;
}
main .visual .contents .app {
  font-family: "Jua", sans-serif;
  font-size: 1.5rem;
  padding: 20px 100px;
  background: #fff;
  border-radius: 50px;
}
main .visual video {
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  z-index: 100;
  transform: translate(-50%, 0);
}
main .visual .page_down {
  position: absolute;
  left: 0;
  bottom: 50px;
  z-index: 110;
  text-align: center;
  background: black;
  width: 100%;
}
main .visual::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 105;
}
main .event_wrap {
  background: aqua;
  width: 1200px;
  margin: 200px auto;
  display: flex;
  flex-flow: column wrap;
}
main .event_wrap h1 {
  font-family: "Jua", sans-serif;
  font-size: 3rem;
  line-height: 1.4;
}
main .event_wrap p {
  margin: 15px 0 25px 0;
}
main .event_wrap .more {
  font-family: "Jua", sans-serif;
  margin-bottom: 100px;
  position: relative;
}
main .event_wrap .more img {
  position: absolute;
  top: -5px;
}
main .event_wrap .slide_wrap .slide_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 320px;
}
main .event_wrap .slide_wrap .slide_container .slide1 {
  background: #ffe552 url(../images/event_image_0_20221028085348_35465.png);
}
main .event_wrap .slide_wrap .slide_container .slide2 {
  margin: 0 5px;
  background: #b2e0de url(../images/event_image_0_20221028085704_61822.png);
}
main .event_wrap .slide_wrap .slide_container .slide3 {
  background: #ffcfd8 url(../images/event_image_3_20221105015010_49282.png);
}
main .event_wrap .slide_wrap .slide_container .slide {
  position: relative;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right bottom;
  border-radius: 25px;
  margin-right: 5px;
  padding: 30px;
}
main .event_wrap .slide_wrap .slide_container .slide h2 {
  font-family: "Jua", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
main .event_wrap .slide_wrap .slide_container .slide p {
  font-weight: 600;
}
main .event_wrap .slide_wrap .slide_container .slide a {
  margin-bottom: 200px;
  text-align: end;
  position: absolute;
  top: 260px;
}
main .intro_wrap {
  background: aqua;
  width: 1200px;
  margin: 200px auto;
  display: flex;
  flex-flow: column wrap;
}
main .intro_wrap h1 {
  font-family: "Jua", sans-serif;
  font-size: 3rem;
  line-height: 1.4;
}
main .intro_wrap p {
  margin: 15px 0 25px 0;
}
main .intro_wrap .more {
  font-family: "Jua", sans-serif;
  margin-bottom: 100px;
  position: relative;
}
main .intro_wrap .more img {
  position: absolute;
  top: -5px;
}
main .intro_wrap .slide_wrap .slide_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 320px;
}
main .intro_wrap .slide_wrap .slide_container .slide1 {
  background: url(../images/thumbnail_image_1_20221104060651_67302.jpeg);
}
main .intro_wrap .slide_wrap .slide_container .slide2 {
  background: url(../images/thumbnail_image_2_20221104060915_64092.jpeg);
}
main .intro_wrap .slide_wrap .slide_container .slide3 {
  background: url(../images/thumbnail_image_3_20221104060928_38608.jpeg);
}
main .intro_wrap .slide_wrap .slide_container .slide4 {
  background: url(../images/thumbnail_image_4_20221104060946_71750.jpeg);
}
main .intro_wrap .slide_wrap .slide_container .slide5 {
  background: url(../images/thumbnail_image_5_20221104060955_15559.jpeg);
}
main .intro_wrap .slide_wrap .slide_container .slide {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right bottom;
  border-radius: 25px;
  margin: 10px 6px;
  padding: 30px;
}
main .intro_wrap .slide_wrap .slide_container .slide h2 {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 600;
  border-radius: 25px;
  padding-top: 5px;
}
main .intro_wrap .slide_wrap .slide_container .slide a {
  margin-bottom: 200px;
  text-align: end;
  position: absolute;
  top: 120px;
  left: 75px;
}
main .intro_wrap .slide_wrap .slide_container .slide:nth-child(1) h2 {
  padding: 5px 6px;
  background: #ffcfd8;
}
main .intro_wrap .slide_wrap .slide_container .slide:nth-child(2) h2 {
  padding: 10px 6px;
  background: #b2e9de;
}
main .intro_wrap .slide_wrap .slide_container .slide:nth-child(3) h2 {
  padding: 5px 6px;
  background: #ffe552;
}
main .intro_wrap .slide_wrap .slide_container .slide:nth-child(4) h2 {
  padding: 5px 6px;
  background: #b2e9de;
}
main .intro_wrap .slide_wrap .slide_container .slide:nth-child(5) h2 {
  padding-top: 3px;
  text-align: center;
  padding: 5px 6px;
  background: #faebd7;
}

/* .all_nav {
    display:flex;
    flex-flow: column wrap;
    background: yellow;
    span {margin-top: 3px;}
    span:nth-child(1) {
        width: 30px; height:5px;
        border-radius: 25px;
        background: #fff;
        margin:0;
}
    span:nth-child(2) {
        width: 30px; height:5px;
        border-radius: 25px;
        background: #fff;
    }
    span:nth-child(3) {
        width: 30px; height:5px;
        border-radius: 25px;
        background: #fff;
    }
} *//*# sourceMappingURL=main.css.map */