$font-jua:'Jua', sans-serif;
@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column{
    display: flex;
    flex-flow: column wrao;
    justify-content: space-between;
}
header { background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), transparent);
    @include flex-row;
    height:100px;
    width:100%; padding:0 15px;
    position: fixed; /* position 주면 margin: 0 auto; 안 먹힘 */
    z-index: 9999;
    
    h1 {width:150px;
        a {img {width:100%;}}
    }
    .right {@include flex-row;
        .app {
            font-family: $font-jua;
            border:2px solid #fff;
            border-radius:20px;
            padding:15px 25px;
            color: #fff;
            margin-right:15px;
        }
        .all_nav {
            span {
                display:block; background: #fff;
                width:30px; height:5px;
                border-radius:15px;
            }
            span:nth-child(2) {margin:5px 0;}
            }
        }
    }//e:header
main {
    .visual {
        height:100vh;
        position:relative;
        overflow:hidden;
        .contents {position: relative; left:0; top:0; z-index:110;
            padding-top:280px;
            text-align: center;
            h1 {font-family: $font-jua; font-size:3rem; color: #fff; line-height:1.4;}
            p {color:#fff; line-height: 1.8; margin-bottom: 50px;}
            .app {font-family: $font-jua; font-size: 1.5rem; padding:20px 100px; background: #fff;
            border-radius: 50px;}
        }
        video {
            position: absolute; left:50%; top:0; width:130%; z-index:100; transform: translate(-50%,0);
            
        }
        .page_down {
            position: absolute; left:0; bottom:50px; z-index:110; text-align:center;
            background: black; width:100%;
            img {}
        }
    }
    .visual::after {
        content:''; display: block; width:100%; height:100%;
        background: linear-gradient(0deg, rgba(0,0,0,0.5), transparent);
        position:absolute; left:0; top:0; z-index:105;
    }
    .event_wrap {background: aqua; width: 1200px; margin: 200px auto;
        h1 {font-family: $font-jua; font-size: 3rem; line-height: 1.4;}
        p {margin: 15px 0 30px 0;}
        .more {font-family: $font-jua; margin-bottom: 100px;}
        .slide_wrap {
            .slide_container {
                display:grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: 320px;
                .slide1 {background: #ffe552 url(../images/event_image_0_20221028085348_35465.png);}
                .slide2 {margin: 0 5px; background: #b2e0de url(../images/event_image_0_20221028085704_61822.png);}
                .slide3 {background: #ffcfd8 url(../images/event_image_3_20221105015010_49282.png);}
                .slide {
                    background-repeat: no-repeat;
                    background-size: 70%;
                    background-position: right bottom;
                    border-radius: 25px;
                    margin-right:5px;
                    padding:30px;
                    h2 {
                        font-family: $font-jua; font-size: 1.6rem; line-height: 1.4;
                    }
                    p {
                        font-weight: 600;
                    }
                    a {
                    }
                }
            }//e:slide_container
        }//e:slide_wrap
    }//e:event_wrap
}//e:main
/* .all_nav {
    display:flex;
    flex-flow: column wrap;
    background: yellow;
    span {margin-top: 3px;}
    span:nth-child(1) {
        width: 30px; height:5px;
        border-radius: 25px;
        background: #fff;
        margin:0;
}
    span:nth-child(2) {
        width: 30px; height:5px;
        border-radius: 25px;
        background: #fff;
    }
    span:nth-child(3) {
        width: 30px; height:5px;
        border-radius: 25px;
        background: #fff;
    }
} */